.App {
  text-align: center;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 95%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: hsl(0, 0%, 5%);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: hsl(0, 0%, 95%);
  box-shadow: hsl(0, 0%, 15%) 
}

.section {
  
  min-height: 20vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
